@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  user-select: none;
}
::-webkit-scrollbar {
  background-color: #0000;
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #535353a2;
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background-color: #0000;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.markdownDiv * {
  font: revert;
  color: revert;
  margin: revert;
  padding: revert;
  text-decoration: revert;
  list-style: revert;
}
